@import url('https://fonts.googleapis.com/css2?family=Anton&family=Manrope:wght@400;500&display=swap');
:root {
    /* Colors */
    --yellow: #FFD15B;
    --white: white;
    --light-gray: #C6C6C6;
    --dark-gray: #7A7A7A;
    --black: black;
    /* Fonts */
    --title: 'Anton', sans-serif;
    --text: 'Manrope', sans-serif;
    font-family: var(--text);
}
body {
    margin: 0;
}
/* Titles */
h1, h2 {
    font-family: var(--title);
}
h1, h3 {
    text-transform: uppercase;
}
/* Header */
header {
    background-image: url("../images/lampos-aritonang-24gR_9lCdes-unsplash\ 1.png");
    background-size: cover;
    height: 667px;
}
header > img {
    margin: 51px 0 170px 69px;
}
header > div {
    text-align: center;
}
h1 {
    color: var(--yellow);
    font-size: 44px;
}
header form {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(37px);
    max-width: 1028px;
    margin-left: auto;
    margin-right: auto;
}
header form input {
    height: 72px;
    width: 954px;
    font-size: 13pt;
    padding-left: 35px;
    outline: none;
}
header form > * {
    border: none;
    border-radius: 10px;
}
header form button {
    cursor: pointer;
}
header form .button-search {
    background-color: black;
    padding: 12px;
    transform: translateX(-85px);
}
header form .button-search img {
    filter: invert(1);
}
header form .button-search:hover {
    background-color: var(--yellow);
}
header form .button-search:hover img {
    filter: unset;
}
header form .button-clear {
    background: none;
    transform: translateX(-100px);
    filter: invert(0.4);
}
input:placeholder-shown + .button-clear {
    visibility: hidden;
}
/* Main */
main {
    background-color: var(--light-gray);
}
/* Nav */
nav {
    display: flex;
    justify-content: space-between;
    height: 132px;
    transform: translateY(21px);
    padding: 0 100px;
    position: relative;
    z-index: 1;
}
nav[data-selected-lines="1"] {
    height: calc(132px + 54px);
}
nav[data-selected-lines="2"] {
    height: calc(132px + 54px + 54px);
}
nav > p {
    font-family: var(--title);
}
nav > div {
    display: flex;
    gap: 66px;
}
.tag-holder {
    padding: 16px;
    background-color: var(--white);
    border-radius: 11px;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 13px;
    user-select: none
}
.tag-holder > * {
    display: none;
}
.tag-holder:nth-child(2) {
    transform: translateX(261px);
}
.tag-holder:nth-child(3) {
    transform: translateX(522px);
}
.tags-label {
    font-weight: 500;
    display: flex;
    cursor: pointer;
}
.tags-label::after {
    content: url(../images/dropdown.png);
    margin-left: 63px;
}
.tags-visible {
    filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.5))
}
.tags-visible > label::after {
    transform: scaleY(-1);
}
.tags-visible > * {
    display: flex;
}
/* Tag search */
.tag-holder form input {
    border-radius: 2px;
    outline: none;
    height: 36px;
    border: 2px solid var(--light-gray);
    color: var(--dark-gray);
    padding-left: 8px;
}
.tag-holder form button {
    position: absolute;
    border: none;
    background: none;
    right: 24px;
    top: 62px;
    cursor: pointer;
}
.tag-holder .button-clear {
    right: 44px;
    top: 58px;
}
.tag-holder .button-clear img {
    height: 6px;
    filter: invert(0.4);
}
.tag-holder .button-search img {
    height: 14px;
}
/* Selected breaks out of tag-holder when not tags-visible */
.selected {
    display: flex;
    background-color: var(--yellow);
    position: absolute;
    padding: 16px;
    border-radius: 11px;
    transform: translate(-16px, 58px);
}
.tags-visible .selected {
    position: relative;
    padding: 13px 16px;
    border-radius: unset;
    transform: unset;
    margin: 0 -16px;
}
.selected::after {
    content: url(../images/close.png);
    margin-left: 63px;
}
.tags-visible .selected::after {
    content: unset;
    margin-left: unset;
}
.tags-visible .selected:hover::after {
    content: url(../images/remove.png);
    position: absolute;
    right: 14px;
    transform: translateY(3px);
}
.tags-visible .tag:hover {
    font-weight: bold;
}
.tag:hover {
    cursor: pointer;
}
.first-unselected {
    margin-top: 8px;
}
.card-holder {
    display: flex;
    padding: 0 100px;
    gap: 48px;
    padding-bottom: 48px;
    flex-wrap: wrap;
}
/* Card */
.card {
    width: 380px;
    overflow: hidden;
    position: relative;
    background-color: white;
    border-radius: 21px;
}
.preptime {
    position: absolute;
    right: 21px;
    top: 21px;
    background-color: var(--yellow);
    border-radius: 14px;
    width: 65px;
    height: 26px;
    text-align: center;
}
.card > img {
    width: 380px;
    height: 253px;
    object-fit: cover;
}
.card-body {
    margin: 0 25px;
    font-size: 11pt;
}
.card h3 {
    color: var(--dark-gray);
}
.card-ingredients > ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 276px;
    padding: unset;
}
.card-dose {
    color: var(--dark-gray);
}