@import url('https://fonts.googleapis.com/css2?family=Anton&family=Manrope:wght@400;500&display=swap');
:root {
    /* Colors */
    --yellow: #FFD15B;
    --white: white;
    --light-gray: #C6C6C6;
    --dark-gray: #7A7A7A;
    --black: black;
    /* Fonts */
    --title: 'Anton', sans-serif;
    --text: 'Manrope', sans-serif;
    font-family: var(--text);
}
body {
    margin: 0;
}
/* Titles */
h1, h2 {
    font-family: var(--title);
}
h1, h3 {
    text-transform: uppercase;
}
/* Header */
header {
    background-image: url("../images/lampos-aritonang-24gR_9lCdes-unsplash\ 1.png");
    background-size: cover;
    height: 667px;
}
header > img {
    margin: 51px 0 170px 69px;
}
header > div {
    text-align: center;
}
h1 {
    color: var(--yellow);
}
/* Main */
main {
    background-color: var(--light-gray);
}
/* Nav */
nav {
    display: flex;
    justify-content: space-between;
    height: 132px;
    transform: translateY(21px);
    padding: 0 100px;
    position: relative;
    z-index: 1;
}
nav[data-selected-lines="1"] {
    height: calc(132px + 54px);
}
nav > p {
    font-family: var(--title);
}
nav > div {
    display: flex;
    gap: 66px;
}
.tag-holder {
    padding: 16px;
    background-color: var(--white);
    border-radius: 11px;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 13px;
}
.tag-holder > * {
    display: none;
}
.tag-holder:nth-child(2) {
    transform: translateX(261px);
}
.tag-holder:nth-child(3) {
    transform: translateX(522px);
}
.tag-holder > label {
    font-weight: 500;
    display: flex;
}
.tag-holder > label::after {
    content: url(../images/dropdown.png);
    margin-left: 63px;
}
.tags-visible {
    filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.5))
}
.tags-visible > label::after {
    transform: scaleY(-1);
}
.tags-visible > * {
    display: flex;
}
/* Selected breaks out of tag-holder when not tags-visible */
.selected {
    display: flex;
    background-color: var(--yellow);
    position: absolute;
    padding: 16px;
    border-radius: 11px;
    transform: translate(-16px, 58px);
}
.tags-visible .selected {
    position: relative;
    padding: 13px 16px;
    border-radius: unset;
    transform: unset;
    margin: 0 -16px;
}
.selected::after {
    content: url(../images/close.png);
    margin-left: 63px;
}
.tags-visible .selected::after {
    content: unset;
    margin-left: unset;
}
#first-unselected {
    margin-top: 8px;
}
.card-holder {
    display: flex;
    justify-content: space-evenly;
}
/* Card */
.card {
    width: 380px;
    overflow: hidden;
    position: relative;
    background-color: white;
    border-radius: 21px;
}
.preptime {
    position: absolute;
    right: 21px;
    top: 21px;
    background-color: var(--yellow);
    border-radius: 14px;
    width: 65px;
    height: 26px;
    text-align: center;
}
.card > img {
    width: 380px;
    height: 253px;
    object-fit: cover;
}
.card-body {
    margin: 0 25px;
    font-size: 11pt;
}
.card h3 {
    color: var(--dark-gray);
}
.card-ingredients > ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 276px;
    padding: unset;
}
.card-dose {
    color: var(--dark-gray);
}